.modal-dialog {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #372A36;
}
.modal-content {
  margin: 10px 10px;
}
.modal-header {
  background-color: #372A36;
}
button.close {
  outline: none;
  width: 20px;
  background-color: #FFF;
  border-radius: 50px;
}
.modal-title {
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}
.modal-body {
  text-align: center;
  font-size: 18px;
}
.modal-footer {
  text-align: center;
}
.btn-success {
  width: 50px;
}
